.home-page{
    background-color: #E3E6E6 ;
    position: relative;
    /* display: flex;
    flex-direction: column; */

}

.firstContainer{
    /* background-color: aqua; */
    /* border: 2px solid black; */
    /* height: 450px; */
    margin-top: -300px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    width: 100%;
    /* margin-top: 15px; */
    margin: 5px;
}
.tophead{
    margin-bottom: 0;
}
.home-header{
    position: relative;
    height: 77.5vh;
    z-index: 1; 
    width: 100%;
    /* border: 1px solid green; */
    margin: 0;
    padding: 0;

}

.categories-container {
    display: flex;
    margin-top: -45vh;
    position: relative; /* Make sure this is positioned */
    z-index: 2; 
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-container {
   display: flex;

}

.list-container{
    margin-top: 10px;
    height: 350px;
    width: 100%;
    /* border: 1px solid black; */  
}

.list-carousel{
    margin-top: 10px;
    height: 350px;
    width: 100%;
}

.list-container2{
    margin-top: 10px;
    height: 350px;
    width: 100%;
}




