.home-page{
    background-color: #E3E6E6 ;

}
.tophead{
    margin-bottom: 0;
}
.home-header{
    position: relative;
    height: 80vh;
    margin: 5px;
}

.categories-container {
    margin-top: -450px;
    border: 2px solid rgb(102, 0, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 8px;

}

.card-container {
    margin-top: 10px;
    width: 100%;
    height: 470px;
    display: flex;
    flex-wrap: wrap;
    /* gap: 8px; */
    border: 2px solid blue;

}

.list-container{
    margin-top: 10px;
    height: 350px;
    width: 100%;
    /* border: 1px solid black; */  
}

.list-carousel{
    margin-top: 10px;
    height: 350px;
    width: 100%;
}

.list-container2{
    margin-top: 10px;
    height: 350px;
    width: 100%;
}