
.card {
    position: absolute;
    margin: 5px;
    border: 1px solid green;
    padding: 5px;
    height: 250px;
    width: 10px;

}

.card-image {
    width: 100px;
    height: 280px;
    object-fit: cover; /* Keeps the aspect ratio */
}

.card-content {
    padding: 10px;

}

.card-links {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.card-link {
    text-decoration: none;
    background-color: white;
    color: #06c;
    font-size: 14px;
}
