.dashboardLayout{
    margin: 0;
    /* padding: 5px; */
    display: flex;
    column-gap: 5px;
    height: 100vh;
    width: 100%;
}

.sidb{
}

.maaain{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 6;
}

.nav{
    margin: 5px;
    border: 1px solid green;
}

.outlet{
    max-width: 5px;
    padding: 10px;
    border: 1px solid yellow;
}