.dashboardLayout{
    margin: 0;
    /* padding: 5px; */
    display: flex;
    /* column-gap: 5px; */
    height: 100vh;
    width: 100%;
}

.sidb{
}
.card{
    
    border : 1px solid blue;
    width: 100%;
    height: 50px;
}
.maaain{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 6;
}

.nav{
}

.outlet{
    max-width: 5px;
    padding: 10px;
    border: 1px solid yellow;
}