.footer{
    height: 500px;
    width: 100%;
    padding: 10px;
    background-color: #232F3E;
}

.goup{
    background-color:#37475A;
    height: 50px;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thebtn{
    color: white;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}