.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid black ;
    height: 65px;
    background-color: #131921;
}

.topHeader{
    background-color: #232F3E;
    height: 35px;

}

.first-div{
    flex: 1;

    margin: 2px;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 4px;
}

.second-div{
    flex: 4;
    height:85%;
    display: flex;
}

.third-div{
    flex: 2;
    margin: 2px;
    height:100%;
    display: flex;
}

.nav-btn:hover{
    border: 1px solid white;

} 
.nav-logo:hover{
    border: 1px solid white;
}

.inner-second-div{
    flex: 1;
    margin: 1px;
    border: 1px solid white;
    height: 100%;
}

.p{
    color: white;
}

.search-nav{
    width: 87%;
    position: relative;
}